* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 110px;
    background-color: rgb(249, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#box1 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

header #box1 h2 {
    color: rgb(72, 71, 71);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header #box2 {
    margin-left: 400px;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.fa {
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa div {
    margin-left: 30px;
}

.fa h5 {
    color: rgb(199, 196, 196);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: lighter;
}

.fa h2 {
    color: rgb(255, 136, 0);
    font-size: 20px;
}

#header1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(72, 71, 71);
    font-weight: bolder;
    font-size: 20px;
    padding: 50px 20px;
    margin-right: 40px;
}

#a1 {
    color: rgb(255, 136, 0);
}

.fa-angle-down {
    font-size: 25px;
    margin-left: -50px;
    margin-right: 50px;
}

.arrow {
    display: flex;
}

.fa-search {
    font-size: 30px;
    color: rgb(72, 71, 71);
    font-weight: lighter;
}

#body {
    width: 100%;
    height: 680px;
    background-image: url("https://www.leatherman.com/on/demandware.static/-/Library-Sites-leatherman-shared2020/default/dw8888decb/blog/work/how-to-run-a-more-efficient-construction-site/LM-Featured-Image-full.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body div {
    margin-top: -50px;
    margin-right: 900px;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: white;
    opacity: 60%;
}

#body div h2 {
    color: rgb(19, 18, 18);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 70px;
}

#body div p {
    color: rgb(102, 100, 100);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 30px 30px;
}

footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: left;
    align-self: center;
}

footer div {
    margin-top: 30px;
    width: 100%;
    height: 30px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

footer div h2 {
    padding: 50px 80px;
}